:root {
  --color-white: #fff;
  --color-bg: #f1f1f1;
  --color-bg-dark: #e5e5e5;
  --color-bg-gray: #d0d0d0;
  --color-text: #303030;
  --color-accent: #f60;
  --color-scrollbar: #a0a0a0;
}
html.dark {
  --color-bg: #303030;
  --color-bg-dark: #151515;
  --color-text: #f1f1f1;
  --color-gray: #a0a0a0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: rgb(80, 85, 111);
  background: linear-gradient(
    105deg,
    rgb(7, 165, 68) 0%,
    rgb(112, 9, 107) 100%
  );
}

#root {
  width: 100%;
  max-width: 500px;
  height: 60%;
  background-color: var(--color-bg-dark);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);

  overflow: hidden;
}
button {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--color-bg-dark);
}
/* scrollbar color */
::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg-dark);
}
